<%-  include   ("partials/header")          %>


   <div class="row">
       <div class="col-md-4 m-auto">
           <div class="card card-body">
            <%-   include ("partials/errormsg")    %>
               <form action="/confirmation" method="POST"> 
                <div class="form-group">
                    <input type="email" name="email" placeholder="Enter your email again" class="form-control">
                    <input type="hidden" name="token" value="<%= tokenvalue%>">
                </div>
                <button class="btn btn-warning">submit</button>
              </form>
           </div>
       </div>
   </div>













<%-    include ("partials/footer")          %>