<%-  include   ("partials/header")          %>


   <div class="row">
       <div class="col-md-4 m-auto">
           <div class="card card-body">
            <%-   include ("partials/errormsg")    %>
               <form action="/resent" method="POST">
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Enter your email">
                </div> 
                <button class="btn btn-warning">Resend email</button>
              </form>
           </div>
       </div>
   </div>

<%-    include ("partials/footer")          %>